/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
}

h1 {
  font-size: 36px;
}

.section {
  padding: 80px 0;
  text-align: center;
}

.section-head{
  font-size: 32px;
  color:#e3e4e6; 
  font-family:roboto;
  margin-bottom: 100px;
}


p {
  font-size: 18px;
  margin-bottom: 20px;
}

#about {
  background-color: rgba(0, 25, 49, 0.95);
}

#education {
  background-color: rgba(0, 34, 74, 0.95);
}

#experience {
  background-color: rgba(0, 48, 79, 0.95);
}

#projects {
  background-color: rgba(0, 60, 95, 0.95);
}

.small-text{
  font-size:16px;
  color: white;
}

.menu-item{
  font-size: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headshot-intro{
  font-size: 18px;
}

.overlay-div{
  position: absolute;
  top: 10%; /* Adjust the position of the text vertically */
  right: 8%; /* Adjust the position of the text horizontally */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Optional: Add shadow to the text */
  justify-content: center !important;
  align-items: center !important;
}

.circular-image {
    justify-content: center !important;
    align-items: center !important;
    border-radius: 100px !important;
    box-shadow: 0 0 10px 5px rgba(255,255,255,.2) !important;
    height:200px !important;
    margin-left: 50px;
}

@media (max-width: 768px) {
            .overlay-div{
                position: absolute;
                top: 10%; /* Adjust the position of the text vertically */
                right: 4%; /* Adjust the position of the text horizontally */
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Optional: Add shadow to the text */
                justify-content: center !important;
                align-items: center !important;
              }
            
            .circular-image {
              margin-left: 40px;
              height:40px !important;
            }

            .headshot-intro{
                color: lightgoldenrodyellow;
                font-size: 6px;
              }
        }


.centered-col {
      display: flex;
      justify-content: center;
    }

.left-aligned {
  text-align: left; 
  width: 100%;
}

.experience-description-text{
  color: #b3c1c4;
  margin-bottom: 45px;
}

.intro-description-text{
  color: #b3c1c4;
}