<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mihir - Portfolio</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}"> -->

  <!-- My CSS -->
  <link rel="stylesheet" href="static/css/main_style.css">

  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar shadow-sm fixed-top bg-black">
    <div class="container-fluid row align-self-end">
      <a class="navbar-brand align-items-center text-light text-center" href="#">
        Hi
      </a>
    </div>
  </nav>
  <div style="height:56px;"></div>

  <section id="home" class="section">
    <h2 class="test">Home</h2>
    <p>This is the home section</p>
  </section>

  <section id="about" class="section">
    <h2>About Us</h2>
    <p>This is the about section</p>
  </section>

  <section id="services" class="section">
    <h2>Our Services</h2>
    <p>This is the services section</p>
  </section>

  <section id="contact" class="section">
    <h2>Contact Us</h2>
    <p>This is the contact section</p>
  </section>
</body>

</html>
